{# templates/admin/dashboard.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Welcome to the Admin Dashboard!</h1>
    {# Your admin dashboard content goes here #}
{% endblock %}
